.idea/
# Mac OS
.DS_Store
explore/
explore_images/
explore_images_0/
milvus_demo.db
explore.ipynb
.milvus_demo.db.lock

data/pdf/
data/markdown/*/*.png
data/*.pdf
data/*.txt
data/preprocessed_md/
data/milvus/
data/milvus_deep/
data/*.lock

postprocess.ipynb
answer_submit_qwen.jsonl

*.pkl
*.db
refer/
__pycache__/
*.pyc
