beautifulsoup4==4.12.3
fastapi==0.115.5
llama_index==0.11.23
markdownify==0.13.1
peft==0.13.2
pydantic==2.9.2
pymilvus==2.4.9
pymupdf4llm==0.0.17
PyYAML==6.0.2
PyYAML==6.0.2
sentence_transformers==3.2.1
torch==2.2.2
tqdm==4.66.6
transformers==4.44.2
uvicorn==0.32.0

llama-index-llms-ollama
llama-index-postprocessor-flag-embedding-reranker
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-vector-stores-milvus